<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Vini OKR app</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>


	<!-- -->
	<section id="top-row">
		<div class="imageBlock">
			<img class='fotoPerfil' src="static/imagens/perfil.jpg" alt="">
		</div>
		<div class="rowtext">
			<h3>{{usuario[0].nome}}</h3>
			<h5>cargo de {{usuario[0].nome}}</h5>
		</div>
		<div class="rowtext">
			<meter value = {{media_total}} max="100"></meter>
		</div>
		<div class="rowtext">
			<h5>Time</h5>
			<h3>{{usuario[0].time[0]}}</h3>
		</div>
		<div class="imageBlock">
			<img class='fotoPerfil' src="static/imagens/ordenar dec.png" alt="">
		</div>
	</section>


	<!-- -->
	<section class="filter-bar">
		<div  class="rowtext">
			<h3>em progresso</h3>
		</div>
		<div  class="rowtext">
			filtro do periodo
		</div>
	</section>
	<!-- -->
	<section class="okrBlock">
		{%for i in objetivos:%}
		<ul>
			<li>
				<h3>{{i.obj}}</h3>
			</li>

			<li>
				{%for k in krs:%}
					{%if k.id_obj == i.id:%}
					<ul>
						<li><h4>{{k.texto}}</h4></li>
					</ul>
					{%endif%}
				{%endfor%}
			</li>
		</ul>
		{%endfor%}


	</section>


	<!-- -->
	<section class="progresso">
		<div>
			<h1>tabela com historico de atualizações (3 p's)</h1>
		</div>
		<div>
			<h2>Grafico com progresso do kr selecionado</h2>
		</div>
	</section>
	<!-- -->
	<section class="sidebar">
		<div>
			<ul>
				<li><a href="index.html"><img class='botaoMenu' src="static/imagens/home.png" alt=""></a></li>
				<li><a href="perfil.html"><img class='botaoMenu' src="static/imagens/conta.png" alt=""></a></li>
				<li><a href="cadastro de okr.html"><img class='botaoMenu' src="static/imagens/lightbulb.png" alt=""></a></li>
			</ul>
		</div>
		<div class='botaoMenuFundo'>
			<ul>
				<li><a href="settings.html"><img class="botaoFundo" src="static/imagens/config.png" alt=""></a></li>
			</ul>
		</div>
	</section>

<!-- -->
</body>
</html>